name: docs
permissions:
    contents: write
on:
    push:
        branches:
            - main
            - master
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0
            - uses: actions/setup-python@v6
              with:
                  python-version: "3.11"

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install --user --no-cache-dir Cython
                  pip install --user -r requirements.txt -r requirements_dev.txt
                  pip install --user geemap
                  pip install .

            - name: Run Earth Engine Script
              env:
                  EARTHENGINE_TOKEN: ${{ secrets.EARTHENGINE_TOKEN }}
              run: |
                  python .github/ee-test-with-oauth2.py

            - name: Extract EE Project ID
              id: extract-project
              env:
                  EARTHENGINE_TOKEN: ${{ secrets.EARTHENGINE_TOKEN }}
              run: |
                  PROJECT_ID=$(python -c "import json, os; print(json.loads(os.getenv('EARTHENGINE_TOKEN'))['project'])")
                  echo "project_id=$PROJECT_ID" >> $GITHUB_OUTPUT

            - name: Discover typos with codespell
              run: |
                  codespell --skip="*.csv,*.geojson,*.json,*.js,*.html,*cff,./.git" --ignore-words-list="aci,hist"

            - name: PKG-TEST
              run: |
                  python -m unittest discover tests/

            - name: Deploy docs
              env:
                  EE_PROJECT_ID: ${{ steps.extract-project.outputs.project_id }}
              run: mkdocs gh-deploy --force